html {
  box-sizing: border-box; // Border-box is always good
  font-size: 62.5%; // 1rem = 10px, 10px / 16px = 62.5%
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; // Now everything will inherit border-box from html above
}

::selection {
  color: var(--color-white);
  background-color: rgba(121, 223, 221, 0.45);
}

body {
  // Anything common site-wide
  background-color: var(--color-background);
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(44, 44, 44, 0.3);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-grey-dark-3);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// ▓▓▓ ▍▍▍║║║ ✎
