.main {
  /*   height: 500rem; // Testing */

  opacity: 1;
  // -moz-animation: fadeIn 1s; /* Firefox */
  // -webkit-animation: fadeIn 1s; /* Safari and Chrome */
  // -o-animation: fadeIn 1s; /* Opera */
  // animation: fadeIn 1s;
}

.footer {
  background-color: var(--color-grey-dark-5);
  height: 15rem;
  text-align: center;
}

// ▓▓▓ HOME PAGE LAYOUT ▓▓▓
.home {
  // No page-wide padding set because width-wide images are used and it would affect them
}

// ▓▓▓ ARCHIVE PAGE LAYOUT ▓▓▓
.news-archive {
  margin-top: calc(var(--nav-height));
  padding: 0rem 15rem 10rem 15rem;
}
