@use 'breakpoints';

.main {
  /*   height: 500rem; // Testing */

  /* opacity: 1; */
  // -moz-animation: fadeIn 1s; /* Firefox */
  // -webkit-animation: fadeIn 1s; /* Safari and Chrome */
  // -o-animation: fadeIn 1s; /* Opera */
  // animation: fadeIn 1s;
}

// ▓▓▓ HOME PAGE LAYOUT ▓▓▓
.home {
  // No page-wide padding set because width-wide images are used and it would affect them
  overflow-x: hidden;
}

// ▓▓▓ ARCHIVE PAGE LAYOUT ▓▓▓
.news-archive {
  margin-top: calc(var(--nav-height));
  padding: 0rem 15rem 6.5rem 15rem;
}

// ▓▓▓ ABOUT  PAGE LAYOUT ▓▓▓
.about {
  margin-top: calc(var(--nav-height) + 2rem);
  padding: 0rem 25rem 3.5rem 25rem; // 3.5 because 6.5 - 3 -- this is because of the bottom-margin of 3rem under each member component
  @media only screen and (max-width: breakpoints.$bp-largest) {
    padding: 0rem 10rem 3.5rem 10rem;
  }
  @media only screen and (max-width: breakpoints.$bp-large) {
    padding: 0rem 2rem 3.5rem 2rem;
  }
  @media only screen and (max-width: breakpoints.$bp-small) {
    padding: 0rem 0rem 3.5rem 0rem;
  }
}

// ▓▓▓ CONTACT PAGE LAYOUT ▓▓▓
.contact {
  margin-top: calc(var(--nav-height) + 2rem);
  padding: 0rem 18.5vw 6.5rem 18.5vw;
  @media only screen and (max-width: breakpoints.$bp-largest) {
    padding: 0rem 15vw 6.5rem 15vw;
  }
  @media only screen and (max-width: breakpoints.$bp-larger) {
    padding: 0rem 10vw 6.5rem 10vw;
  }
  @media only screen and (max-width: breakpoints.$bp-large) {
    padding: 0rem 7.5vw 6.5rem 7.5vw;
  }
  @media only screen and (max-width: breakpoints.$bp-small) {
    padding: 0rem 0rem 0rem 0rem;
  }
}

// ▓▓▓ CAREERS PAGE LAYOUT ▓▓▓
.careers {
  margin-top: calc(var(--nav-height));
  // padding: 0rem 0rem 0rem 0rem;
}

// ▓▓▓ APPLY PAGE LAYOUT ▓▓▓
.application {
  padding: calc(var(--nav-height)) 0 6.5rem 0;

  background-image: url('../images/backgroundImages/dotted.jpg');
  background-repeat: repeat;
}

// ▓▓▓ 404 PAGE LAYOUT ▓▓▓
.not-found {
  height: calc(100vh - var(--nav-height));
  margin-top: calc(var(--nav-height));
  padding: 0rem 0rem 0rem 0rem;
}
