.main {
  /*   height: 500rem; // Testing */

  /* opacity: 1; */
  // -moz-animation: fadeIn 1s; /* Firefox */
  // -webkit-animation: fadeIn 1s; /* Safari and Chrome */
  // -o-animation: fadeIn 1s; /* Opera */
  // animation: fadeIn 1s;
}

// ▓▓▓ HOME PAGE LAYOUT ▓▓▓
.home {
  // No page-wide padding set because width-wide images are used and it would affect them
}

// ▓▓▓ ARCHIVE PAGE LAYOUT ▓▓▓
.news-archive {
  margin-top: calc(var(--nav-height));
  padding: 0rem 15rem 6.5rem 15rem;
}

// ▓▓▓ ABOUT  PAGE LAYOUT ▓▓▓
.about {
  margin-top: calc(var(--nav-height));
  padding: 0rem 25rem 3.5rem 25rem; // 3.5 because 6.5 - 3 -- this is because of the bottom-margin of 3rem under each member component
}

// ▓▓▓ CONTACT PAGE LAYOUT ▓▓▓
.contact {
  margin-top: calc(var(--nav-height) + 2rem);
  padding: 0rem 30rem 6.5rem 30rem;
}

// ▓▓▓ CAREERS PAGE LAYOUT ▓▓▓
.careers {
  margin-top: calc(var(--nav-height));
  padding: 0rem 0rem 0rem 0rem;
}

// ▓▓▓ APPLY PAGE LAYOUT ▓▓▓
.application {
  padding: calc(var(--nav-height)) 0 6.5rem 0;

  background-image: url('../images/backgroundImages/dotted.jpg');
  background-repeat: repeat;
}

// ▓▓▓ 404 PAGE LAYOUT ▓▓▓
.not-found {
  height: calc(100vh - var(--nav-height));
  margin-top: calc(var(--nav-height));
  padding: 0rem 0rem 0rem 0rem;
}
