// font-family: 'Lato', sans-serif;                 ||  100;300;400;700;900
// font-family: 'Open Sans', sans-serif;            ||  300;400;600;700;800
// font-family: 'Ubuntu Condensed', sans-serif;     ||
// font-family: 'Josefin Sans', sans-serif;         ||   100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700

body {
  font-family: 'Lato', sans-serif;
  font-size: var(--default-font-size);
  color: var(--color-white);
  font-weight: 400;
}

.heading-primary {
  font-family: 'Open Sans', sans-serif;
  font-size: 5.8rem;
  font-weight: 700;
  text-transform: uppercase;

  text-shadow: 0 0 5px #000;
}

.heading-secondary {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 100;

  text-shadow: 0 0 5px #000;
}

// HOME

.main-quote {
  font-family: 'Lato', sans-serif;
  font-size: 3.25rem;
  text-transform: uppercase;
  font-weight: 600;

  text-shadow: 0 0 5px #000;

  &__text {
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;

    text-shadow: 0 0 5px #000;
  }
}

.xona-pulsar {
  &__tm {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10rem;
    letter-spacing: 0.001rem;
  }
  &__text {
    font-family: 'Lato', sans-serif;
    font-size: 2.75rem;
    // text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.5rem;

    color: var(--color-grey-light-1);

    text-shadow: 0 0 5px #000;
  }
  &__application {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 3rem;
  }
  &__image-description {
    font-size: 3rem;
  }
}

.applications__heading {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 12rem;
  color: var(--color-white);
  font-weight: 200;
  letter-spacing: 2.5rem;
  text-shadow: 0 0 5px #000;
}

.apps__text {
  font-size: 4rem;
  text-shadow: 0 0 30px #000;
}

.news__heading {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 12rem;
  color: var(--color-white);
  font-weight: 300;
  letter-spacing: 2.5rem;
  text-shadow: 0 0 5px #000;
}

.member {
  // The headshot of the team member
  &__image {
  }

  // The name of the team member
  &__name {
    font-family: 'Lato', sans-serif;
    font-weight: 500;

    color: var(--color-white);
    text-decoration: underline;
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: 2px;
  }

  // The current position of the team member
  &__role {
    font-family: 'Lato', sans-serif;
    color: var(--color-grey-light-3);
    font-weight: 300;
    padding: 0 1rem;
  }

  // The container for all items of past experience
  &__experience {
    font-size: var(--default-font-size);
  }

  // The container for a single item of past experience (the title and location)
  &__experience-container {
  }

  // The title/name of the single item of experience
  &__experience-title {
  }

  // The location of the single item of experience
  &__experience-location {
    font-style: italic;
    font-weight: 300;
  }

  // The hobbies of the team member
  &__hobbies {
    font-weight: 500;
    color: var(--color-grey-light-3);
  }
}

.about-banner {
  &__heading-left {
    font-family: 'Open Sans', sans-serif;
    font-size: 6rem;
    font-weight: 600;
    line-height: 6rem;
    text-transform: uppercase;

    color: var(--color-white);
    text-decoration: underline;
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: 3px;
    text-shadow: 0 0 5px #000;
  }
  &__heading-right {
    font-size: 3.5rem;
    text-shadow: 0 0 5px #000;
  }
}

.about-description {
  font-size: 2rem;
  line-height: 3rem;
  text-shadow: 0 0 5px #000;
}

.xona-team {
  font-size: 2rem;

  &__heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
    padding: 1rem 1.5rem;

    color: var(--color-white);
    text-decoration: underline;
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: 2px;
  }
}

.contact-form {
  &__input-box {
    font-size: 2.8rem;

    input,
    textarea {
      font-size: inherit;
    }

    textarea {
      font-size: 5rem;
    }
  }
}
