.u-martop-small {
  margin-top: 0.5rem;
}

.u-marbot-small {
  margin-bottom: 0.5rem;
}

.u-height-small {
  height: 5rem !important;
}

.u-horizontal-margins-medium {
  margin-top: 2.5rem !important;
  margin-bottom: 2.5rem !important;
}
