:root {
  // Color
  --color-primary: #28a8a6;
  --color-primary-light: #79dfdd;
  --color-primary-dark: #0e3a3a;

  --color-primary-gradient-dark: rgb(14, 58, 58);

  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;
  --color-grey-light-3: #c5c5c5;

  --color-grey-dark-1: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #868686;
  --color-grey-dark-4: #333;
  --color-grey-dark-5: #1d1d1d;

  --color-white: #ffffff;
  --color-black: #100;
  --color-background: #080808;

  // Font
  --default-font-size: 1.6rem;

  // Navbar height
  --logo-height: 9.7rem;
  --nav-padding: 2rem;
  --nav-height: calc(var(--logo-height) + (var(--nav-padding) * 2));
}
