@use '../breakpoints';
@use '../mixins' as *;

.about-banner {
  display: flex;
  height: 25vh;
  width: 100%;
  margin: 0 auto;

  @media only screen and (max-width: breakpoints.$bp-small) {
    flex-direction: column;
    height: 100%;
  }

  // LEFT AND RIGHT HERO HALVES
  &__left,
  &__right {
    flex: 0 0 50%;
    @media only screen and (max-width: breakpoints.$bp-small) {
      flex: 0 0 100%;
      border-bottom: none;
      padding: 4rem 0;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    border-bottom: 2px solid var(--color-grey-dark-4);

    &--spacer {
      background-image: none;
    }
  }

  // LEFT HERO HALF
  &__left {
    border-right: 1px solid var(--color-grey-dark-4);
    border-radius: 0 0 0 20px;

    @media only screen and (max-width: breakpoints.$bp-large) {
      border-radius: 0;
    }
    @media only screen and (max-width: breakpoints.$bp-small) {
      border: none;
    }

    &--spacer {
      border-bottom: none;
    }

    background-size: cover;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      z-index: 0;

      background-image: linear-gradient(
        to right bottom,
        rgba(8, 8, 8, 1),
        rgba(8, 8, 8, 0.7),
        rgba(8, 8, 8, 1)
      );
    }
  }

  // RIGHT HERO HALF
  &__right {
    border-left: 1px solid var(--color-grey-dark-4);
    border-radius: 0 0 20px 0;

    @media only screen and (max-width: breakpoints.$bp-large) {
      border-radius: 0;
    }

    &--spacer {
      border-bottom: none;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      z-index: 0;

      background-image: linear-gradient(
        to left bottom,
        rgba(8, 8, 8, 1),
        rgba(8, 8, 8, 0.6),
        rgba(8, 8, 8, 1)
      );
    }
  }

  &__heading-left,
  &__heading-right {
    z-index: 1;
    text-shadow: 0 0 5px #000;

    @media only screen and (max-width: breakpoints.$bp-small) {
      width: 85% !important;
      text-align: center !important;
    }
  }

  &__heading-left {
    width: 30rem;
    text-align: right;

    padding: 1rem 1.5rem;
  }

  &__heading-right {
    width: 30rem;

    display: flex;
    justify-content: center;
  }

  &--spacer {
    height: 10vh;
    @media only screen and (max-width: breakpoints.$bp-small) {
      display: none;
    }
  }
}

.about-description {
  text-align: center;
  width: 65%;

  padding: 5rem 2rem 5rem 2rem;
  margin: 0 auto;
  border-bottom: 2px solid var(--color-grey-dark-4);
  border-radius: 20px;

  @media only screen and (max-width: breakpoints.$bp-small) {
    width: 100%;
    border: none;
    padding: 5rem 4rem 7rem 4rem;
  }
}

.xona-team {
  text-align: center;
  width: 100%;
  padding: 5rem 4rem 0 4rem;

  @media only screen and (max-width: breakpoints.$bp-large) {
    padding: 5rem 2rem 0 2rem;
    border-radius: 0;
  }
  @media only screen and (max-width: breakpoints.$bp-small) {
    padding: 5rem 6rem 0 6rem;
  }
  @media only screen and (max-width: breakpoints.$bp-phone-large) {
    padding: 5rem 4rem 0 4rem;
  }
  @media only screen and (max-width: breakpoints.$bp-phone-small) {
    padding: 5rem 2rem 0 2rem;
  }

  margin: 0 auto;

  position: relative;

  border-top: 2px solid var(--color-grey-dark-4);
  border-radius: 20px;

  &__heading {
    @include absolute-center(0, 50%);

    background-color: var(--color-background);

    @media only screen and (max-width: breakpoints.$bp-smallest) {
      width: 80vw;
    }
  }

  // The container of all the xona team members
  &__members {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    justify-content: center;
    gap: 4rem; // The flex is 22.5%, and with 4 articles that leaves 10%, so the 3 gaps should split that into 3.333%

    @media only screen and (max-width: breakpoints.$bp-medium) {
      grid-template-columns: repeat(auto-fill, minmax(27.5rem, 1fr));
      gap: 3rem;
    }
    @media only screen and (max-width: breakpoints.$bp-smallest) {
      grid-template-columns: repeat(auto-fill, 1fr);
    }
  }
}
