.about {
  height: 200rem;
  margin-top: calc(var(--nav-height));
  padding: 0rem 30rem 6.5rem 30rem;

  /*   background-image: linear-gradient(
    var(--color-background),
    var(--color-grey-dark-5)
  ); */
}

.about-banner {
  display: flex;
  height: 25vh;
  width: 100%;
  margin: 0 auto;

  // LEFT AND RIGHT HERO HALVES
  &__left,
  &__right {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    border-bottom: 2px solid var(--color-grey-dark-4);

    &--spacer {
      background-image: none;
    }
  }

  // LEFT HERO HALF
  &__left {
    border-right: 1px solid var(--color-grey-dark-4);
    border-radius: 0 0 0 20px;

    &--spacer {
      border-bottom: none;
    }

    background-size: cover;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      z-index: 0;

      background-image: linear-gradient(
        to right bottom,
        rgba(8, 8, 8, 1),
        rgba(8, 8, 8, 0.7),
        rgba(8, 8, 8, 1)
      );
    }
  }

  // RIGHT HERO HALF
  &__right {
    border-left: 1px solid var(--color-grey-dark-4);
    border-radius: 0 0 20px 0;

    &--spacer {
      border-bottom: none;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      z-index: 0;

      background-image: linear-gradient(
        to left bottom,
        rgba(8, 8, 8, 1),
        rgba(8, 8, 8, 0.6),
        rgba(8, 8, 8, 1)
      );
    }
  }

  &__heading-left,
  &__heading-right {
    z-index: 1;
    text-shadow: 0 0 5px #000;
  }

  &__heading-left {
    font-family: 'Open Sans', sans-serif;
    font-size: 6rem;
    font-weight: 600;
    line-height: 6rem;
    text-transform: uppercase;
    width: 30rem;
    text-align: right;

    padding: 1rem 1.5rem;

    color: var(--color-white);
    text-decoration: underline;
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: 3px;
  }

  &__heading-right {
    font-size: 3.5rem;
    width: 30rem;

    display: flex;
    justify-content: center;
  }

  &--spacer {
    height: 10vh;
  }
}

.about-description {
  text-align: center;
  width: 65%;

  font-size: 2rem;
  line-height: 3rem;
  text-shadow: 0 0 5px #000;

  padding: 5rem 2rem 5rem 2rem;
  margin: 0 auto;
  border-bottom: 2px solid var(--color-grey-dark-4);
  border-radius: 20px;
}

.xona-team {
  text-align: center;
  width: 100%;
  font-size: 2rem;
  padding: 5rem 2rem 5rem 2rem;
  margin: 0 auto;

  position: relative;

  border-top: 2px solid var(--color-grey-dark-4);
  border-radius: 20px;

  &__heading {
    @include absolute-center(0, 50%);

    background-color: var(--color-background);

    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
    padding: 1rem 1.5rem;

    color: var(--color-white);
    text-decoration: underline;
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: 2px;
  }
}
