.application-banner {
  padding: 5rem 40rem 5rem 40rem;

  background-image: linear-gradient(
    180deg,
    rgba(14, 14, 14, 0.502),
    rgb(19, 19, 19)
  );

  display: flex;
  justify-content: flex-start;

  .position__container {
    padding: 0 2rem;
    border-left: 4px solid var(--color-grey-dark-4);
    border-right: 4px solid var(--color-grey-dark-4);
    border-radius: 5px;
  }
}

.application-info {
  padding: 3.5rem 40rem;
  border-top: 2px dotted var(--color-grey-dark-5);

  &__paragraphs {
    margin-bottom: 4rem;
  }

  &__paragraph {
    margin-bottom: 1rem;
  }

  &__heading {
    margin-bottom: 0.5rem;
  }

  &__qualifications-list {
    margin: 0 3rem;
    margin-bottom: 4rem;
  }

  &__list-item {
    list-style-type: none;

    &::before {
      content: '\2219'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
      color: var(--color-primary); /* Change the color */
      font-weight: bold; /* If you want it to be bold */
      display: inline-block; /* Needed to add space between the bullet and the text */
      width: 1rem; /* Also needed for space (tweak if needed) */
      margin-left: -1rem; /* Also needed for space (tweak if needed) */
    }
  }
}

.job-application {
  padding: 0rem 40rem;
}

.application-form {
  border-radius: 10px;
  padding: 4.5rem 5rem 4rem 4.5rem;

  border-bottom: 2px solid var(--color-grey-dark-4);
  border-top: 2px solid var(--color-grey-dark-4);
  border-radius: 25px;
  background-color: rgb(19, 19, 19);

  display: flex;
  flex-direction: column;

  // Spacing
  &__heading {
    margin-bottom: 3.25rem;
  }

  &__sub-heading {
    margin-bottom: 2.25rem;
  }

  &__sub-heading {
    margin-top: 2.25rem;
    padding-top: 2rem;
    border-top: 2px solid var(--color-grey-dark-4);
  }

  &__input-group {
    margin-left: 1rem;
    margin-bottom: 1.5rem;
  }

  &__question {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  // Styles
  &__input-group {
    display: flex;
    align-items: flex-start;

    .application-form__input-box {
      border: 1.5px solid var(--color-white);
    }

    &--textarea {
      flex-direction: column;
      align-items: stretch;
      // flex: 1;
      // For the little border that is on the left of each textarea input
      border-left: 2px solid var(--color-grey-dark-4);
      padding: 0.5rem 0 1rem 1.5rem;
      border-radius: 5px;

      margin-bottom: 3rem;

      .application-form__input-box {
        border: 1.5px solid var(--color-white);
        height: 15rem;

        textarea {
          height: 100%;
          width: 100%;
          resize: none;
          overflow: auto;
        }
      }
    }

    &--radio {
      flex-direction: column;

      margin-bottom: 3rem;
    }
  }

  &__label {
    flex: 0 0 15%;

    &--textarea {
      margin-bottom: 1.5rem;
    }
  }

  &__radio-group {
  }

  &__input {
    padding: 1rem; // Spacing inside the input so the text/placeholder isn't cramped
    border: none;
    border-bottom: 4px solid transparent;
    vertical-align: bottom;

    background-color: transparent;
    color: var(--color-white);

    transition: all 0.25s;

    &:hover {
      border-bottom: 4px solid var(--color-grey-dark-3);
    }

    &:focus {
      outline: none;
      border-bottom: 4px solid var(--color-primary-light);

      &:invalid {
        // Only on a focused element, should this apply (and only when it is invalid)
        border-bottom: 4px solid var(--color-invalid);
      }
    }
  }

  .btn {
    align-self: center;
    padding: 1.5rem 3rem;
  }
}
