.careers-banner {
  height: 40rem;
  background-size: cover;

  position: relative;

  // Overlay to give a tint to the banner
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    z-index: 0;

    background-image: linear-gradient(
      to bottom,
      rgba(8, 8, 8, 1),
      rgba(8, 8, 8, 0.6),
      rgba(8, 8, 8, 1)
    );
  }

  &__heading {
    position: relative; // So that this z-index will work
    z-index: 1;

    @include absolute-center(50%, 50%);
  }
}

// The container for the benefits section
.benefits {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 3rem;

  padding: 6.5rem 15rem 6.5rem 15rem;

  // The individual benefit item, with the icon, heading, and description text
  &__item {
    text-align: center;
    flex: 17.6rem;
  }

  // This is specifically the ion-icon within the benefit item
  ion-icon {
    font-size: 16rem;
    color: var(--color-white);
    --ionicon-stroke-width: 16px;
  }

  // The heading of the benefit
  &__heading {
    margin-bottom: 1rem;
  }

  // The short description detailing the benefit
  &__description {
  }
}

/* ion-icon {
    --ionicon-stroke-width: 16px;
  }
  ion-icon {
    font-size: 16rem;
  } */
