@use '../breakpoints';
@use '../mixins' as *;

.careers-banner {
  height: 40rem;
  background-size: cover;

  position: relative;

  @media only screen and (max-width: breakpoints.$bp-medium) {
    height: 50vh;
  }

  // Overlay to give a tint to the banner
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    z-index: 0;

    background-image: linear-gradient(
      to bottom,
      rgba(8, 8, 8, 1),
      rgba(8, 8, 8, 0.6),
      rgba(8, 8, 8, 1)
    );
  }

  &:hover {
    .careers-banner__heading {
      opacity: 0;
      color: var(--color-primary);
      &--sub {
        opacity: 1;
        color: currentColor;
      }
    }
  }

  &__heading {
    position: relative; // So that this z-index will work
    z-index: 1;
    @include absolute-center(50%, 50%);

    @media only screen and (max-width: breakpoints.$bp-medium) {
      width: 80%;
      text-align: center;
    }

    transition: opacity 0.5s, color 1s 0.05s;
    opacity: 1;

    &--sub {
      transition: opacity 0.5s 0.1s, color 1s 0.05s;
      opacity: 0;
      color: var(--color-primary);
    }
  }
}

// The container for the benefits section
.benefits {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  // gap: 2rem;

  & > * {
    margin: 1rem;
  }

  padding: 6rem 15rem 6.5rem 15rem;
  border-bottom: 2px dotted var(--color-grey-dark-5);

  @media only screen and (max-width: breakpoints.$bp-medium) {
    padding: 6rem 10rem 6.5rem 10rem;
  }
  @media only screen and (max-width: breakpoints.$bp-small) {
    padding: 6rem 5rem 6.5rem 5rem;
  }

  // The individual benefit item, with the icon, heading, and description text
  &__item {
    text-align: center;
    flex: 17.6%; // This number is to account for the gap
    max-width: 28.7rem;
    min-width: 17rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }

    // max-width: 20.05rem;
    /* 
    background-image: radial-gradient(
      var(--color-primary),
      transparent,
      transparent
    ); */
  }

  // This is specifically the ion-icon within the benefit item
  ion-icon {
    font-size: 16rem;
    color: var(--color-white);
    --ionicon-stroke-width: 16px;
  }

  // The heading of the benefit
  &__heading {
  }

  // The short description detailing the benefit
  &__description {
    padding: 0 1rem;
  }
}

.availabilities {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;

  padding: 6.5rem 2rem;

  background-image: linear-gradient(
    to bottom,
    var(--color-background),
    var(--color-grey-dark-5)
  );

  border-top: 2px solid var(--color-grey-dark-5);

  &__heading {
    text-align: center;
    margin-bottom: 5rem;
  }
}

.position {
  display: grid;
  grid-template-columns: 1fr min-content;
  justify-content: space-between;
  align-items: center;

  column-gap: 15rem;
  row-gap: 1rem;

  @media only screen and (max-width: breakpoints.$bp-small) {
    column-gap: 9rem;
  }
  @media only screen and (max-width: breakpoints.$bp-phone-large) {
    column-gap: 5rem;
  }
  @media only screen and (max-width: breakpoints.$bp-smallest) {
    column-gap: 1rem;
  }

  &__container {
    display: flex;
    flex-direction: column;

    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &:not(:first-child) {
    border-top: 2px solid var(--color-grey-dark-4);
    margin-top: 2rem;
    padding-top: 2rem;
  }

  &__heading {
  }

  &__details {
    display: flex;
    list-style-type: none;

    @media only screen and (max-width: breakpoints.$bp-phone-large) {
      margin-left: 0.75rem;
    }

    & > *:not(:last-child) {
      margin-right: 0.75rem;
      padding-right: 0.75rem;

      @media only screen and (max-width: breakpoints.$bp-phone-large) {
        margin-bottom: 0.75rem;
        padding-bottom: 0.75rem;
        border-bottom: 1px dotted var(--color-grey-dark-4);
        border-right: 0 !important;
      }
    }

    @media only screen and (max-width: breakpoints.$bp-phone-large) {
      flex-direction: column;
    }

    :not(:last-child) {
      // margin-bottom: 0.75rem;
      border-right: 2px solid var(--color-grey-dark-4);
    }
  }

  .btn {
    white-space: nowrap;
    text-align: center;
  }
}
