@use '../breakpoints';
@use '../mixins' as *;

// ▓▓▓ HOME BANNER
.home-banner {
  background-size: cover;
  padding: 0 var(--padding-home) 0 var(--padding-home);
  height: calc(100vh /*  - var(--nav-height) */);

  position: relative; // For the primary heading
}

// ▓▓▓ SCROLL DOWNWARD CHEVRON
.scroll-indicator {
  width: 4rem;
  text-shadow: 0 0 5px #000;

  @include absolute-center(94.25%, 50%);

  // Initial animation state
  transform: translateY(-2rem);
  opacity: 0;

  // Animation
  -moz-animation: scrollDown 3.5s 2.5s infinite; /* Firefox */
  -webkit-animation: scrollDown 3.5s 2.5s infinite; /* Safari and Chrome */
  -o-animation: scrollDown 3.5s 2.5s infinite; /* Opera */
  animation: scrollDown 3.5s 2.5s infinite;

  stroke-dasharray: 0, 20;
  stroke-dashoffset: -14.142135620117188;

  path {
    stroke-width: 1px;
    stroke: var(--color-black);
    fill: none;
  }
}

// ▓▓▓ HEADING TEXT IN THE BANNER
.home-heading {
  @include absolute-center(50%, 70%);

  @media only screen and (max-width: breakpoints.$bp-large) {
    @include absolute-center(50%, 65%);
  }
  @media only screen and (max-width: breakpoints.$bp-medium) {
    @include absolute-center(50%, 60%);
  }
  @media only screen and (max-width: breakpoints.$bp-small) {
    @include absolute-center(50%, 55%);
  }
  @media only screen and (max-width: breakpoints.$bp-phone-large) {
    @include absolute-center(50%, 50%);
    width: 90%;
  }

  .emphasis {
    display: block;
    color: var(--color-primary);
    font-size: 1.3em;
    font-weight: 600;
    text-align: right;
  }
}

// ▓▓▓ SECTION 2 QUOTE UNDER THE BANNER
.main-quote {
  position: relative;

  padding: 20.5rem var(--padding-home) 24.5rem var(--padding-home); // The 25rem is to account for the lost space made by the polygon clip path, which 75% leaves out 5rem, so we add that back
  z-index: 100;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  text-align: left;

  clip-path: polygon(0 0, 0 100%, 100% 85%, 100% 0);
  background-color: var(--color-background);

  @media only screen and (max-width: breakpoints.$bp-smallest) {
    &__heading,
    &__text {
      padding: 0 2rem;
    }
  }

  // THE QUOTE ITSELF (link to gps document)
  &__heading {
    &:link,
    &:visited {
      display: inline-block; //
      text-align: left; //
      text-shadow: 0 0 5px #000;
      color: currentColor; //

      text-decoration: none;

      position: relative;

      cursor: pointer;

      transition: linear 0.1s;
      text-decoration: underline;
      // border-bottom: 1px solid var(--color-grey-light-1);
      /* 
      transform: translateY(10rem); */
    }

    // When :hover, animate the link text
    &:hover {
      color: var(--color-grey-dark-2);
      // border-bottom: 1px solid currentColor;
    }
    // When :hover, animate the right arrow
    &:hover > .main-quote__rarr {
      color: var(--color-primary-light);
      transform: translateX(15px);
    }
    // When :active, animate the right arrow
    &:active > .main-quote__rarr {
      transition: transform 0.2s, opacity 0.3s 0.1s;
      transform: translateX(75px);
      opacity: 0;
    }
  }

  // ARROW TO SIGNIFY A LINK
  &__rarr {
    transition: transform 0.5s, color 0.5s;
    display: inline-block;
  }

  // THE TEXT UNDER THE QUOTE LINK
  &__text {
    max-width: 50%;
    font-size: 2.75rem;
    @media only screen and (max-width: breakpoints.$bp-larger) {
      max-width: 75%;
      // font-size: 2.75rem;
    }
    @media only screen and (max-width: breakpoints.$bp-large) {
      max-width: 85%;
      // font-size: 2.75rem;
    }
    @media only screen and (max-width: breakpoints.$bp-small) {
      max-width: 100%;
      // font-size: 2.75rem;
    }
  }
}

// ▓▓▓ XONA PULSAR SECTION (with the banner and images showcase it's applications)
.xona-pulsar {
  margin-top: -14rem;
  @media only screen and (max-width: breakpoints.$bp-smallest) {
    margin-top: -15.7rem;
  }

  padding: 22.5rem var(--padding-home) 4.5rem var(--padding-home); // The spacing of the container of the pulsar info

  background-size: cover;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    z-index: 0;

    background-image: linear-gradient(
      to right bottom,
      rgba(14, 58, 58, 0.7),
      rgba(0, 0, 0, 0.9)
    );
  }

  // ║║║ XONA PULSAR CONTAINER (contains the logo, trademark text, and description text)
  &__banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    position: relative;
    z-index: 1;

    padding: 4rem 10rem;

    @media only screen and (max-width: breakpoints.$bp-larger) {
      padding: 4rem 6rem;
    }
    @media only screen and (max-width: breakpoints.$bp-large) {
      padding: 4rem 4rem;
    }
    @media only screen and (max-width: breakpoints.$bp-medium) {
      padding: 4rem 2rem;
    }

    background-image: linear-gradient(
      rgba(19, 19, 19, 0.35),
      rgba(19, 19, 19, 0.5),
      rgba(0, 0, 0, 0.8)
    );

    @media only screen and (max-width: breakpoints.$bp-smallest) {
      background-image: linear-gradient(
        to bottom,
        transparent,
        rgba(19, 19, 19, 0.35),
        rgba(19, 19, 19, 0.5),
        rgba(0, 0, 0, 0.8)
      );
      border-radius: 0;
      margin-bottom: -2px; // Small glitch causing a tiny margin below fix
    }
    /* backdrop-filter: blur(1px); */

    border-radius: 15px;
  }

  // ║║║ TRADEMARK TEXT
  &__icon {
    // So it is placed next to the tm text
    display: inline-block;
    margin-right: 1rem;

    img {
      @media only screen and (max-width: breakpoints.$bp-medium) {
        width: 6rem;
        height: 6rem;
      }
      @media only screen and (max-width: breakpoints.$bp-small) {
        width: 5rem;
        height: 5rem;
      }
      @media only screen and (max-width: breakpoints.$bp-phone-large) {
        width: 4rem;
        height: 4rem;
      }
    }
  }

  // ║║║ TRADEMARK TEXT
  &__tm {
    @include text-gradient(
      to bottom,
      var(--color-primary-light),
      var(--color-primary-dark),
      var(--color-primary)
    );

    & span {
      color: currentColor;
      font-size: 0.65em;
    }
  }

  // ║║║ MAIN TEXT
  &__text {
    padding-top: 2rem;
    // text-align: left;
  }

  // ║║║ XONA PULSAR ABILITIES IMAGES
  &__images {
    width: 100%;
    /*     display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, min-content));
    align-items: stretch;
    gap: 1rem; */
    display: flex;
    justify-content: space-evenly;

    @media only screen and (max-width: breakpoints.$bp-larger) {
      justify-content: space-around;
    }
    @media only screen and (max-width: breakpoints.$bp-medium) {
      justify-content: space-between;
    }
    @media only screen and (max-width: breakpoints.$bp-small) {
      flex-direction: column;
      align-items: center;
    }

    padding: 5rem 0;

    border: 1px solid transparent;

    @media only screen and (max-width: breakpoints.$bp-small) {
      & > *:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
    @media only screen and (max-width: breakpoints.$bp-smallest) {
      & > *:not(:last-child) {
        margin-bottom: 0rem;
        padding-bottom: 4rem;
      }
      padding-top: 0;
    }
  }
  // ║║║ SPECIFIC ABILITY IMAGE
  --image-width: 28.367rem;
  @media only screen and (max-width: breakpoints.$bp-larger) {
    --image-width: 26rem;
  }
  @media only screen and (max-width: breakpoints.$bp-large) {
    --image-width: 24rem;
  }
  @media only screen and (max-width: breakpoints.$bp-medium) {
    --image-width: 20rem;
  }
  @media only screen and (max-width: breakpoints.$bp-small) {
    --image-width: calc(100%);
  }
  /*   @media only screen and (max-width: breakpoints.$bp-small) {
    --image-width: 18rem;
  } */

  &__ability {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: var(--image-width);

    z-index: 1;

    text-align: center;

    padding: 1rem 1rem;
    border-radius: 15px;
    background-image: linear-gradient(
      rgba(10, 10, 10, 0.8),
      rgba(0, 0, 0, 0.5)
    );

    @media only screen and (max-width: breakpoints.$bp-smallest) {
      border-radius: 0;
    }

    img {
      border-radius: 15px;
      overflow: hidden;
      object-fit: contain;
      width: calc(var(--image-width) - 2rem);
    }

    &__image-description {
      width: 50%;
    }
  }
}

// ▓▓▓ APPLICATIONS SECTION
.applications {
  // text-align: center;
  // padding: 7.5rem 0 /* 11.5rem */ 0 0;

  /*   background-image: radial-gradient(
    circle,
    rgba(8, 8, 8, 1) 0%,
    rgba(33, 138, 136, 1) 0%,
    rgba(14, 58, 58, 1) 100%
  ); */
}

// APPS
.apps {
  position: relative;
  height: 60rem;
  /*   @media only screen and (max-width: breakpoints.$bp-small) {
    height: 55rem;
  } */

  &__heading-container {
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 20.5%;

    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
  }

  &__logo {
    height: 8rem;
    width: 8rem;
  }

  &__btn {
    position: absolute;
    top: 60%;
    z-index: 10;
    // outline: none;

    border: none;
    background-color: transparent;
    font-family: inherit;
    color: var(--color-white);
    // height: 5.5rem;
    // width: 5.5rem;
    font-size: 19.25rem;
    line-height: 1;

    @media only screen and (max-width: breakpoints.$bp-large) {
      top: 65%;
      font-size: 15rem;
    }
    @media only screen and (max-width: breakpoints.$bp-phone-large) {
      top: 70%;
      font-size: 12.5rem;
    }
    @media only screen and (max-width: breakpoints.$bp-phone-small) {
      top: 75%;
    }

    cursor: pointer;

    transition: transform 0.25s;

    font-weight: 300;

    &--left {
      left: 6%;
      // transform: translate(-50%, -50%);
      &:hover {
        // color: red;
        transform: translateX(-1rem);
      }
    }

    &--right {
      right: 6%;
      // transform: translate(50%, -50%);
      &:hover {
        // color: red;
        transform: translateX(1rem);
      }
    }
  }
  &__dots {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);

    color: var(--color-white);

    display: flex;
    // align-items: center;
    // justify-content: center;
  }
  &__dot {
    margin: 0 1rem;

    height: 1rem;
    width: 1rem;
    background-color: var(--color-white);
    border-radius: 50%;

    border: 2px solid rgba($color: #000000, $alpha: 0);
    // box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    transition: box-shadow 0.15s;

    &--inactive {
      cursor: pointer;
      &:hover {
        box-shadow: var(--color-grey-light-2) 0px 1px 2px,
          var(--color-grey-light-2) 0px 0px 0px 1px;
      }
    }

    &--active {
      // color: var(--color-primary);
      // outline: 0.5rem solid var(--color-white);
      box-shadow: var(--color-grey-light-2) 0px 1px 4px,
        var(--color-grey-light-2) 0px 0px 0px 3px;
    }
  }
}

.app {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;

  &__container {
    height: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    // For animation
    transition: transform 1s;
  }

  &__text {
    position: absolute;
    top: 58.5%;
    transition: transform 1.5s, opacity 0.5s;

    @media only screen and (max-width: breakpoints.$bp-medium) {
      font-size: 5.5rem !important;
    }
    @media only screen and (max-width: breakpoints.$bp-small) {
      margin-left: 0.75rem;
      font-size: 4.5rem !important;
    }
    @media only screen and (max-width: breakpoints.$bp-phone-large) {
      margin-left: 0rem;
      font-size: 4rem !important;
    }
    @media only screen and (max-width: breakpoints.$bp-phone-small) {
      margin-left: 0.5rem;
      font-size: 3.5rem !important;
      text-align: center;
    }

    position: absolute;
  }
}

// ▓▓▓ NEWS SECTION
.news {
  padding: 6.5rem var(--padding-home);
  @media only screen and (min-width: breakpoints.$bp-largest) {
    padding: 6.5rem 15rem;
  }

  text-align: center;

  &__heading {
    margin-bottom: 5rem;
  }

  .btn__arrow {
    margin-top: 6rem !important;
  }

  @media only screen and (max-width: breakpoints.$bp-phone-large) {
    &__heading {
      font-size: 6rem;
      padding-left: 1.5rem;
    }

    .btn__arrow {
      font-size: 3rem !important;
    }
  }
}

// ║║║ Container for the articles
.articles {
  display: grid;

  grid-template-columns: repeat(4, minmax(32rem, 1fr));
  @media only screen and (max-width: breakpoints.$bp-largest) {
    grid-template-columns: repeat(2, minmax(32rem, 1fr));
  }
  @media only screen and (max-width: breakpoints.$bp-larger) {
    grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
  }

  column-gap: 2.5rem;
  row-gap: 2.5rem;
}
