// ▓▓▓ HOME BANNER
.home-banner {
  background-image: url('../images/earth.jpg');
  background-color: white;
  background-size: cover;
  padding: calc(var(--nav-height)) 20rem 0 20rem;
  height: calc(100vh /*  - var(--nav-height) */);

  position: relative; // For the primary heading
}

// ▓▓▓ SCROLL DOWNWARD CHEVRON
.scroll-indicator {
  width: 4rem;
  text-shadow: 0 0 5px #000;

  @include absolute-center(94.25%, 50%);

  // Initial animation state
  transform: translateY(-2rem);
  opacity: 0;

  // Animation
  -moz-animation: scrollDown 3.5s 2.5s infinite; /* Firefox */
  -webkit-animation: scrollDown 3.5s 2.5s infinite; /* Safari and Chrome */
  -o-animation: scrollDown 3.5s 2.5s infinite; /* Opera */
  animation: scrollDown 3.5s 2.5s infinite;

  stroke-dasharray: 0, 20;
  stroke-dashoffset: -14.142135620117188;

  path {
    stroke-width: 1px;
    stroke: var(--color-black);
    fill: none;
  }
}

// ▓▓▓ HEADING TEXT IN THE BANNER
.home-heading {
  @include absolute-center(50%, 70%);

  .emphasis {
    display: block;
    color: var(--color-primary);
    font-size: 1.3em;
    font-weight: 600;
    text-align: right;
  }
}

// ▓▓▓ SECTION 2 QUOTE UNDER THE BANNER
.main-quote {
  position: relative;

  padding: 20rem 20rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  text-align: left;

  font-family: 'Lato', sans-serif;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 600;

  text-shadow: 0 0 5px #000;

  clip-path: polygon(0 0, 0 100, 100 75, 100 0);
  background-color: orangered;

  // THE QUOTE ITSELF (link to gps document)
  &__heading {
    &:link,
    &:visited {
      display: inline-block; //
      text-align: center; //
      text-shadow: 0 0 5px #000;
      color: currentColor; // White

      text-decoration: none;

      position: relative;

      cursor: pointer;

      transition: linear 0.1s;
      border-bottom: 1px solid var(--color-grey-light-1);
      /* 
      transform: translateY(10rem); */
    }

    // When :hover, animate the link text
    &:hover {
      color: var(--color-grey-light-2);
      border-bottom: 1px solid currentColor;
    }
    // When :hover, animate the right arrow
    &:hover > .main-quote__rarr {
      color: var(--color-primary-light);
      transform: translateX(10px);
    }
    // When :active, animate the right arrow
    &:active > .main-quote__rarr {
      transition: transform 0.2s, opacity 0.3s 0.1s;
      transform: translateX(75px);
      opacity: 0;
    }
  }

  // ARROW TO SIGNIFY A LINK
  &__rarr {
    transition: transform 0.5s;
    display: inline-block;
  }

  // THE TEXT UNDER THE QUOTE LINK
  &__text {
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;

    text-shadow: 0 0 5px #000;

    max-width: 50%;
    /* 
    // Initial animation state
    transform: translateY(10rem); */
  }
}

// ▓▓▓ XONA PULSAR SECTION (with the banner and images showcase it's applications)
.xona-pulsar {
  height: 60rem;
  padding: 20rem 20rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  // ║║║ XONA PULSAR APPLICATIONS
  &__images {
    display: flex;
    justify-content: space-between;

    border: 1px solid yellowgreen;
    flex-basis: 50%;
  }

  // ║║║ XONA PULSAR CONTAINER (contains the logo, trademark text, and description text)
  &__banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;

    padding: 4rem 10rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),
      url('../images/stars.jpg');
  }

  // ║║║ TRADEMARK TEXT
  &__icon {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
  }

  // ║║║ TRADEMARK TEXT
  &__tm {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10rem;
    letter-spacing: 0.001rem;
    font-weight: 400;

    @include text-gradient(
      to bottom,
      var(--color-primary-light),
      var(--color-primary-dark)
    );

    & span {
      color: currentColor;
      font-size: 0.65em;
    }
  }

  // ║║║ MAIN TEXT
  &__text {
    padding-top: 2rem;
    color: var(--color-grey-light-2);
    font-size: 2rem;
  }
}
