.archive {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.333333333%; // The flex is 22.5%, and with 4 articles that leaves 10%, so the 3 gaps should split that into 3.333%
  flex-wrap: wrap;
}

.news-archive {
  &__heading {
    text-align: center;
    margin: 0 0 3rem 0;
    font-size: 20rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    @include text-gradient(
      to bottom,
      var(--color-grey-dark-5),
      transparent,
      var(--color-grey-dark-5)
    );
  }
}
