.archive {
  // display: flex;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 40rem));
  justify-content: space-around;
  align-items: center;
  column-gap: 5rem;
  row-gap: 2.5rem; // The flex is 22.5%, and with 4 articles that leaves 10%, so the 3 gaps should split that into 3.333%
  // flex-wrap: wrap;
}

.news-archive {
  text-align: center;
  &__heading {
    text-align: center;
    margin: 0 0 0 0;
    font-size: 22.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    @include text-gradient(
      to bottom,
      var(--color-grey-dark-5),
      transparent,
      var(--color-grey-dark-5)
    );
  }
}
