:root {
  --color-primary: #28a8a6;
  --color-primary-light: #79dfdd;
  --color-primary-dark: #0e3a3a;
  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;
  --color-grey-dark-1: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;
  --color-white: #fff;
  --color-black: #100;
  --tint: invert(74%) sepia(11%) saturate(2389%) hue-rotate(128deg)
    brightness(74%) contrast(90%);
  --default-font-size: 1.6rem;
  --logo-height: 9.7rem;
  --nav-padding: 2rem;
  --nav-height: calc(var(--logo-height) + (var(--nav-padding) * 2)); }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

::selection {
  color: var(--color-white);
  background-color: rgba(121, 223, 221, 0.5); }

body {
  background-color: #100; }

.App {
  opacity: 1;
  -moz-animation: fadeIn 1s;
  /* Firefox */
  -webkit-animation: fadeIn 1s;
  /* Safari and Chrome */
  -o-animation: fadeIn 1s;
  /* Opera */
  animation: fadeIn 1s; }

body {
  font-family: 'Lato', sans-serif;
  font-size: var(--default-font-size);
  color: var(--color-white);
  font-weight: 400; }

.heading-primary {
  font-family: 'Open Sans', sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 0 5px #000; }

.heading-secondary {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 0 0 5px #000; }

.navigation {
  background-color: transparent;
  /* background-color: var(--color-black); */
  position: fixed;
  top: 0;
  left: 0;
  color: var(--color-white);
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: var(--nav-padding) 0;
  width: 100%;
  display: flex;
  justify-content: space-around; }
  .navigation__brand {
    object-fit: contain;
    height: var(--logo-height); }
  .navigation__list {
    display: flex;
    align-items: flex-end;
    gap: 3rem;
    padding-bottom: 1rem; }
  .navigation__item {
    /*       background-color: $color-primary;
      color: $color-white;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
      transform: translateY(-2px); */
    /*       box-shadow: 0 1rem 1rem rgba($color-black, 0.15);
      transform: translateY(-0.5px); */ }
    .navigation__item:link, .navigation__item:visited {
      display: inline-block;
      text-align: center;
      text-shadow: 0 0 5px #000;
      color: currentColor;
      text-decoration: none;
      position: relative;
      cursor: pointer; }
    .navigation__item:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: var(--color-white); }
    .navigation__item:before {
      opacity: 0;
      transform: translateY(-8px);
      transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s; }
    .navigation__item:after {
      opacity: 0;
      transform: translateY(8px/2);
      transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s; }
    .navigation__item:hover:before, .navigation__item:hover:after, .navigation__item:focus:before, .navigation__item:focus:after {
      opacity: 1;
      transform: translateY(0); }
    .navigation__item:hover:before, .navigation__item:focus:before {
      transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) opacity 0.2s; }
    .navigation__item:hover:after, .navigation__item:focus:after {
      transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) opacity 0s 0.2s; }

.underline {
  width: 0;
  height: 5px;
  background: rgba(100, 100, 200, 0);
  top: 20px;
  position: absolute;
  -webkit-transition: 0.5s ease; }

.main {
  height: 500rem; }

.home-banner {
  background-image: url("../images/earth.jpg");
  background-size: cover;
  padding: calc(var(--nav-height)) 20rem 0 20rem;
  height: calc(100vh); }

/*

//Abstracts
//Base
//Components
//Layout
//Pages

*/
