.btn {
  cursor: pointer;
  &, // This selection is only for <button/> elements, since they do not come with :link & :visited states, we have to target itself
    // link and visited are pseudo-classes, so we write the style for these specific states of the anchor element
    &:link,
    &:visited {
    border: 1px solid var(--color-white);
    text-decoration: none;
    text-transform: capitalize;

    width: 60%;
    padding: 1.5rem 0 1.5rem 0;

    position: relative; // So ::after is based on btn position

    transition: color 0.15s 0.115s;
    color: var(--color-white);
  }

  &:hover {
    // Text should turn black
    color: var(--color-black);
    // ::after styles will occur when btn is hovered
    &::after {
      height: 100%;
    }
  }

  &:active,
  &:focus {
    // This is for <button/> elements, as they come with a blue outline on focus
    outline: none;
  }

  // ::active is a pseudo-element, it is not in the html markup, but it does exist on the page
  &::after {
    content: '';
    display: inline-block;
    width: 100%; // 100% of the height of .btn

    position: absolute;
    bottom: 0; // Coordinates defined based on the nearest parent with position: relative (so .btn)
    left: 0;

    z-index: -1; // Set behind the real button so it does not cover the text
    background-color: var(--color-white);

    transition: height 0.2s cubic-bezier(1, 0.04, 0.84, 0.89);
    height: 0; // 100% of the height of .btn
  }
}
