// ║║║ INDIVIDUAL MEMBER COMPONENT
.member {
  border-radius: 10px;
  background-color: grey;
  padding: 1rem;

  // The headshot of the team member
  &__image {
    border-radius: 10px;
    overflow: hidden;
  }

  // The current position of the team member
  &__role {
    font-family: 'Lato', sans-serif;
  }

  // The container for a single item of past experience (the title and location)
  &__experience-container {
    background-color: orangered;
  }

  // The container for each item of past experience
  &__experience {
  }

  // The title/name of the single item of experience
  &__experience-title {
  }

  // The location of the single item of experience
  &__experience-location {
  }

  // The hobbies of the team member
  &__hobbies {
  }
}
