// ║║║ INDIVIDUAL MEMBER COMPONENT
.member {
  flex: 0 0 22.5%;

  // Not the last child so that it doesnt mess with layout margins/spacing, we only want this bottom margin between rows for spacing reasons
  margin-bottom: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem 1.5rem 1rem 1.5rem;

  border: 1px dotted var(--color-primary);

  // The container for the headshot image of the member as well as the link to linkedin profile
  &__image-container {
    border-bottom: 2px solid var(--color-grey-dark-5);
    border-top: 2px solid var(--color-grey-dark-5);
    border-radius: 5px;
    background-image: linear-gradient(
      180deg,
      rgb(19, 19, 19) 0%,
      rgba(8, 8, 8, 0.5018382352941176) 50%,
      rgb(19, 19, 19) 100%
    );

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 0.5rem;

    padding: 1rem 1rem 0rem 1rem;
  }

  // The link tag, which holds just the linkedin icon
  &__linkedin-link {
    align-self: flex-end;
  }

  // The actual svg linkedin icon
  &__linkedin-icon {
    height: 2.25rem;
    width: 2.25rem;
    margin: 0.35rem 0.25rem 0 0;

    transition: fill 0.15s, border 0.15s;
    fill: var(--color-white);

    padding-bottom: 2px;
    border-bottom: 1px solid transparent;

    &:hover {
      border-color: var(--color-white);
    }

    &:active {
      fill: var(--color-primary);
    }
  }

  // The headshot of the team member
  &__image {
    border-radius: 5px;
    object-fit: cover;
    filter: grayscale(0.5);
    /* border: 1px dotted var(--color-primary); */
    margin-bottom: 0.25rem;
  }

  // The current position of the team member
  &__role {
  }

  // The container for each item of past experience including hobbies
  &__experience {
    display: flex;
    flex-direction: column;
    flex: 1;

    margin: 1rem 0;
    padding: 1rem;

    border-bottom: 2px solid var(--color-grey-dark-5);
    border-top: 2px solid var(--color-grey-dark-5);
    border-radius: 10px;
    background-image: linear-gradient(
      180deg,
      rgb(19, 19, 19) 0%,
      rgba(8, 8, 8, 0.5018382352941176) 50%,
      rgb(19, 19, 19) 100%
    );
  }

  // The container for a single item of past experience (the title and location)
  &__experience-container {
    margin-bottom: 0.5rem;
    border-bottom: 2px solid var(--color-grey-dark-5);

    padding: 0 0 0.5rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // The title/name of the single item of experience
  &__experience-title {
    text-align: left;
    flex: 0 0 50%;
  }

  // The location of the single item of experience
  &__experience-location {
    text-align: right;
    flex: 0 0 50%;
  }

  // The hobbies of the team member
  &__hobbies {
    margin-top: 1rem;
    justify-self: flex-end;
    padding: 0 1rem;
  }
}

/*   &__link {
    align-self: flex-end;
  }

  &__linkedin {

    margin-bottom: -1rem;
    padding: 2px;
    border-radius: 10px;
    width: 2.5rem;
    height: auto;

    // Initial animation state
    transition: all 0.15s;
    background-color: var(--color-white);

    &:hover {
      background-color: var(--color-grey-light-3);
    }
  } */
