.navigation {
  z-index: 9999; // Highest z-index on the site

  background-color: rgba($color: #080808, $alpha: 0.1);
  backdrop-filter: blur(15px);
  /* border-bottom-right-radius: 128px; */
  /* background-color: var(--color-black); */

  &.active {
    transition: all 0.2s;
    background-color: rgba($color: #080808, $alpha: 0.8);
    backdrop-filter: blur(15px);
  }

  position: fixed;
  top: 0;
  left: 0;

  // Typography
  color: var(--color-white);
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;

  padding: var(--nav-padding) 0;
  width: 100%;

  display: flex;
  justify-content: space-around;

  &__brand {
    object-fit: contain;
    height: var(--logo-height);
  }

  &__list {
    // Organize and space out the navigation links
    display: flex;
    align-items: flex-end;
    gap: 3rem;
    padding-bottom: 1rem;
  }

  &__item {
    &:link,
    &:visited {
      display: inline-block; //
      text-align: center; //
      text-shadow: 0 0 5px #000;
      color: currentColor; // White

      text-decoration: none;

      position: relative;

      cursor: pointer;

      transition: linear 0.2s;
      border-bottom: 1px solid transparent;
    }

    &:hover {
      border-bottom: 1px solid currentColor;
    }

    &:active {
      color: var(--color-primary);
    }

    //&:hover {
    /*       background-color: $color-primary;
      color: $color-white;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
      transform: translateY(-2px); */
    //}

    //&:active {
    /*       box-shadow: 0 1rem 1rem rgba($color-black, 0.15);
      transform: translateY(-0.5px); */
    //}
  }
}

.underline {
  width: 0;
  height: 5px;
  background: rgba(100, 100, 200, 0);
  //left: -50px;
  top: 20px;
  position: absolute;
  -webkit-transition: 0.5s ease;
}
