@use '../breakpoints';

.navigation {
  z-index: 9999; // Highest z-index on the site

  background-color: rgba($color: #080808, $alpha: 0.1);
  backdrop-filter: blur(15px);
  /* border-bottom-right-radius: 128px; */
  /* background-color: var(--color-black); */

  &.active {
    transition: all 0.45s;
    background-color: rgba($color: #080808, $alpha: 0.75);
    backdrop-filter: blur(15px);
  }

  position: fixed;
  top: 0;
  left: 0;

  // Typography
  color: var(--color-white);
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;

  padding: var(--nav-padding) 0;
  width: 100%;

  display: flex;
  justify-content: space-around;

  @media only screen and (max-width: breakpoints.$bp-small) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__brand {
    object-fit: contain;
    height: var(--logo-height);

    @media only screen and (max-width: breakpoints.$bp-medium) {
      height: 7.5rem;
      // margin-bottom: 1rem;
    }
    @media only screen and (max-width: breakpoints.$bp-small) {
      height: 11vw;
      margin-bottom: 1rem;
    }
    @media only screen and (max-width: breakpoints.$bp-phone-small) {
      height: 13vw;
    }
  }

  &__list {
    // Organize and space out the navigation links
    display: flex;
    align-items: flex-end;
    padding-bottom: 1rem;

    & > *:not(:last-child) {
      margin-right: 3rem;
    }

    @media only screen and (max-width: breakpoints.$bp-small) {
      padding-bottom: 0rem;
      & > *:not(:last-child) {
        margin-right: 2rem;
      }
    }
    @media only screen and (max-width: breakpoints.$bp-phone-small) {
      padding-bottom: 0rem;
      & > *:not(:last-child) {
        margin-right: 1.25rem;
      }
    }
  }

  &__item {
    &:link,
    &:visited {
      display: inline-block; //
      text-align: center; //
      text-shadow: 0 0 5px #000;
      color: currentColor; // White

      text-decoration: none;

      position: relative;

      cursor: pointer;

      transition: linear 0.2s;
      border-bottom: 1px solid transparent;
    }

    &:hover {
      border-bottom: 1px solid currentColor;
    }

    &:active {
      color: var(--color-primary);
    }

    //&:hover {
    /*       background-color: $color-primary;
      color: $color-white;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
      transform: translateY(-2px); */
    //}

    //&:active {
    /*       box-shadow: 0 1rem 1rem rgba($color-black, 0.15);
      transform: translateY(-0.5px); */
    //}
  }
  // display: none;
}

.underline {
  width: 0;
  height: 5px;
  background: rgba(100, 100, 200, 0);
  //left: -50px;
  top: 20px;
  position: absolute;
  -webkit-transition: 0.5s ease;
}
